

@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoSlab-Regular.woff);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.woff);
}

@font-face {
    font-family: galada;
    src: url(../fonts/Galada-Regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1{
    font-family: poppins, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

h2{
    font-family: poppins, sans-serif;
    font-size: 27px;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
}

p{
    font-family: poppins, sans-serif;
    font-size: 20px;
    text-align: justify;
    color: var(--color-dark);

}


:root{
    --bg-dark: #212529;
    --bg-light: #d8e0e7;
    --color-dark: #212529;
    --color-light: #f7f8fa;
}



