

/********* Header area *************/
header {
    background: var(--bg-dark);
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: var(--bg-light) !important;
}

.navbar {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.brand {
    font-size: 2rem;
    font-family: roboto, sans-serif;
    font-weight: bold;
}

.nav-link {
    transition: all 0.5s ease;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: rgb(91, 138, 179);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--bg-light);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*********End of Header area *************/


/********* Introducation area *************/
.intor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.profile-pic{
    width: 350px;
}

.address-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.aboutMe h1 span{
    color: green;
    font-size: 1.2em;
    font-family: roboto, sans-serif;
}

.degination{
    margin-left: 8px;
}

.address ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.address li{
    list-style: none;
    font-size: 1em;
    font-family: poppins, sans-serif;
    cursor: pointer;
    color: var(--color-dark);
}

.address li span{
    margin-right: 10px;
    font-weight: bold;
}

.address li i{
    font-size: 1.3em;
    margin-right: 7px;
}

.social{
    display: flex;
    justify-content: center;
}

.social ul{
    display: flex;
    align-items: center;
    gap: 35px;
}

.social ul li{
    list-style: none;
    width: 30px;
}

.social ul li a{
    text-decoration: none;
    text-align: center;
}

.social .fab{
    width: 38px;
    color: var(--color-light);
    text-align: center;
    padding: 11px 5px;
    border-radius: 50%;
}

.fa-facebook-f{
    background: #3B5998;;
}

.fa-twitter{
    background: #55ACEE;
}

.fa-linkedin-in{
    background: #007bb5;
}

.fa-youtube{
    background: #CD201F;
}

.fa-pinterest-p{
    background: #BD081C;
}

.banner-pic{
    width: 500px;
}

/******* End of Introducation area **************/


/******* Skill  area **************/

.main-section{
    width: 85vw;
    margin: 50px auto 20px;
    padding: 0 8px;
}

.skill-area p{
    text-align: justify;
}

#experience{
    margin: 30px 0;
}

.read button{
    border: none;
    box-shadow: 0 0 1.3px 1px #9da09a;
    border-radius: 5px;
    padding: 3px 7px;
    background: none;
    font-family: poppins, sans-serif;
    cursor: pointer;
    font-size: 16px;
    background-image: linear-gradient(to bottom right, #9dc5f8, #ffffff);
    display: none;
    margin: 0 auto;
}


.best-skill{
    margin: 40px 0;
}

.skill-card{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card{
    width: 320px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px 4px #9da09a;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to bottom right, #9dc5f8, #ffffff);
}

.card:hover{
    box-shadow: 0 0 3px 1px #9da09a;
}

.card p{
    font-size: 14px;
}

.img-box{
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.img-box img{
    width: 100%;
    max-width: 80px;
}

/******* End Of Skill  area **************/



/***************** certificate area **************/

.certificate-area{
    margin: 50px 0;
}

.clip-art{
    width: 12%;
    margin: 0 auto;
}
.clip-art img{
    width: 100%;
}

.certificate-area h2{
    text-align: center;
}

.certificate-img{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.img1{
    width: 45%;

}

.certificate-img img{
    width: 100%;
}

/**************** End of certificate area ****************/



/**************** Other Skill Area ****************/
.others-skill{
    margin-top: 40px;
}


.skill-logo{
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.logo-box{
    width: 100px;
    padding: 20px;
    background: linear-gradient(145deg, #cbe4f5, #ffffff);
    border-radius: 3px;
    cursor: pointer;
}

/************** End of Other Skill Area *************/


/**************** Testimonials area *********************/
.testimonial-area{
    margin-top: 25px;
}

.testi-head{
    text-align: center;
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-left:3px solid rgb(92, 86, 86);
    border-right:3px solid rgb(92, 86, 86);
}

.testimonial-area h1{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 60vh;
    position: relative;
}
.veiw-box{
    width: 900px;
    height: 420px;
    border-radius: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
}
#testimonials{
    display: flex;
    transition: 0.5s;
}
.user{
    width: 800px;
    text-align: center;
    padding: 20px 70px;
    box-sizing: border-box;
    background: #321764;
    border-radius: 200px;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
}

.space{
    margin: 0 70px;
}
.user img{
    width: 120px;
    border-radius: 50%;
    border: 10px solid #e8ecff;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.user p{
    font-size: 21px;
    color: #cbb4f5;
    line-height: 30px;
    margin: 30px;
}


/* .user p::before{
    content: '\201C';
    font-size: 120px;
    height: 0;
    display: inline-block;
    vertical-align: -57;
    margin-right: 10px;
}
.user p::after{
    content: '\201D';
    font-size: 120px;
    height: 0;
    display: inline-block;
    vertical-align: -70;
    margin-left: 10px;
} */
.user h3{
    font-size: 26px;
    color: #cbb4f5;
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.controls span{
    width: 15px;
    height: 15px;
    background: #321764;
    border-radius: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}
.active{
    width: 45px !important;
}


/**************** End Of Testimonials area *************/






























/********************* Media Quaries Section ********************/

@media (max-width:1200px){
    .profile-pic{
        width: 250px;
    }

    .banner-pic{
        width: 350px;
    }

}

@media (max-width:992px){
    .profile-pic{
        width: 240px;
    }

    .banner-pic{
        display: none;
    }

    .skill-logo{
        gap: 15px;
    }

}

@media (max-width:768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        width: 100%;
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--bg-dark);
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 12px 0;
    }

    .nav-menu.active{
        left: 0;
    }
    /**************** End of header Section ************/

    h1{
        font-size: 1.9em;
    }

    h2{
        font-size: 1.5em;
    }
    .profile-pic{
        width: 250px;
    }

    .banner-pic{
        display: none;
    }

    .address li{
        font-size: 1rem;
    }
    /********************** End Of Intro Section *******************/
    
    #experience, #second_para{
        display: none;
    }

    #experience.show, #second_para.show{
        display: block;
    }
    #read-more{
        display: block;
    }

    .skill-logo{
        gap: 10px;
    }

    .logo-box{
        width: 75px;
        padding: 10px;
    }

    .clip-art{
        width: 20%;
    }
}

@media (max-width:576px) {
    .intor{
        flex-direction: column;
    }
    .profile-pic{
        width: 240px;
    }

    .address li{
        font-size: 0.9rem;
        padding-left: 10px;
    }

    .address li span{
        margin-right: 5px;
        font-weight: normal;
    }
    
    .address li i{
        font-size: 0.9rem;
        margin-right: 7px;
    }

    .banner-pic{
        display: none;
    }
}

@media (max-width:379px) {
    h1{
        font-size: 1.5em;
        margin-left: 5px;
    }
    h2{
        font-size: 1.3em;
    }

    p{
        font-size: 0.98em;
    }


    .intor{
        flex-direction: column;
    }
    .profile-pic{
        width: 180px;
    }

    .address li{
        font-size: 0.9rem;
        padding-left: 10px;
    }

    .address li span{
        margin-right: 5px;
        font-weight: normal;
    }
    
    .address li i{
        font-size: 0.9rem;
        margin-right: 7px;
    }

    .banner-pic{
        display: none;
    }
}
